@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:wght@300&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
    color: white;
}
body{
    margin: 0;
    padding: 0;
}
/* navbar */
#banner{
    background-image: url('Images/bg.jpg');
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-links{
    margin-left:30px;
}
nav{
    position:relative;
    top:10px;
}
.nav-link{
    font-weight:500;
    font-size:18px;
    margin-right:10px;
    color:white;
    font-weight:600;
}
.navbar-brand{
    font-weight:800;
    color:white;
    font-size:24px;
}
.navbar-brand:hover{
    color:white;
}
.content{
    padding: 200px;
}
.main-header{
    color:orangered;
    text-align: center;
    margin-bottom: 30px;
}
.sub-header{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}
.my-work{
    text-align: center;
    margin-top: 100px;
}
.work-link{
    color: gray;
    border: 1px solid gray;
    padding: 10px 20px;
    background-color: inherit;
}
.work-link:hover{
    color: darkgray;
    text-decoration: 1px solid gray underline;
}
/* about */
#about{
    margin-top: 50px;
}
.about-head{
    text-align: center;
    font-weight: 700;
    color: black;
}
.about-hr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    width: 10%;
    background-color: black;
}
.about-p{
    text-align: left;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-row{
    margin-top: 100px;
    margin-bottom: 150px;
}
.preeti{
    width: 250px;
    height: 250px;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* projects */
#projects{
    background-color: lightgrey;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.project-head{
    text-align: center;
    color: black;
    font-weight: 700;
    margin-top: 70px;
}
.project-name{
    color: black;
    font-weight: 600;
    text-align: center;
}
.tech{
    color: gray;
    text-align: center;
}
.project-img{
    width: 100%;
    height: 250px;
}
.project-description{
    color: darkgray;
    text-align: center;
}
.card{
    border-radius: 0%;
    background-color: white;
    margin-bottom: 100px;
}
/* skills */
#skills{
    text-align: center;
    padding: 50px;
}
.skills-heading{
    text-align: center;
    font-weight: 700;
    color: black;
}
.skill-img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skill-inner{
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 12px;
    /* margin-left: 0.5px; */
}
/* more about me */
#more{
    background-color: lightgrey;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.more-heading{
    text-align: center;
    color: black;
    font-weight: 700;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(119, 168, 190);
}
.more-card{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    margin-top: 100px;
}
/* contact */
#contact{
    padding: 50px;
}
.contact-heading{
    text-align: center;
    color: black;
    font-weight: 700;
}
.contact-subheading{
    text-align: center;
    color:rgb(83, 81, 81);
}
.contact-row{
    margin-top: 100px;
    margin-bottom: 50px;
}
.general , .contact , .email{
    margin-left: 100px;
}
.contact-btn{
    background-color: inherit;
    border: 1px solid rgb(83, 81, 81);
    color: black;
    padding: 10px 20px;
}
.submit-btn{
    text-align: left;
    margin-top: 30px;
}
.form-control{
    background-color: inherit;
    border: 1px solid rgb(83, 81, 81);
}
/* footer */
#footer{
    background-color: rgb(2, 2, 36);
    padding: 20px;
}
.copyright{
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px){
    /* navabar */
    *{
        margin: 0px;
        padding: 0px;
    }
    nav{
        position:relative;
        top:0px;
    }
    .second-links{
        margin-left:0px;
    }
    .nav-link:hover{
        color:white;
        width:50px;
    }
    .navbar-brand{
        font-size: 20px;
    }
    /* content */
    .content{
        padding: 0px;
    }
    .main-header{
        color:orangered;
        text-align: center;
        margin-bottom: 10px;

    }
    .sub-header{
        text-align: center;
        color: white;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0%;
    }
    .my-work{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    .work-link{
        color: gray;
        border: 1px solid gray;
        padding: 5px 10px;
        background-color: inherit;
        margin-bottom: 30px;
    }
    .work-link:hover{
        color: darkgray;
        text-decoration: 1px solid gray underline;
    }
    /* about */
    #about{
        margin-top: 20px;
    }
    .about-head{
        text-align: center;
        font-weight: 700;
        color: black;
    }
    .about-hr{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: black;
        width: 10%;
        background-color: black;
    }
    .about-p{
        text-align: center;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-row{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .preeti{
        width: 200px;
        height: 200px;
        border-radius: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* projects */
    #projects{
        background-color: lightgrey;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .project-head{
        text-align: center;
        color: black;
        font-weight: 700;
        margin-top: 40px;
    }
    .project-name{
        color: black;
        font-weight: 600;
        text-align: center;
    }
    .tech{
        color: gray;
        text-align: center;
    }
    .card{
        border-radius: 0%;
        background-color: white;
        margin-bottom: 10px;
        max-width: 18rem;
    }
    /* more about me */
    .more-heading{
        text-align: center;
        color: black;
        font-weight: 700;
    }
    .circle{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(119, 168, 190);
    }
    .more-card{
        border: 1px solid lightgrey;
        background-color: inherit;
        margin-top: 0px;
        max-width: 18rem;
    }
    /* contact */
    #contact{
        padding: 20px;
    }
    .contact-heading{
        text-align: center;
        color: black;
        font-weight: 700;
    }
    .contact-subheading{
        text-align: center;
        color:rgb(83, 81, 81);
    }
    .contact-row{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .general , .contact , .email{
        margin-left: 0px;
        margin-top: 40px;
    }
    .contact-btn{
        background-color: inherit;
        border: 1px solid rgb(83, 81, 81);
        color: black;
        padding: 10px 20px;
    }
    .submit-btn{
        text-align: left;
        margin-top: 30px;
    }
    .form-control{
        max-width: 18rem;
    }

}